math_content/raw_lessons/*
math_content/output/*
math_content/attachments/*

grok_script/movies/*

rain_content/recorded/*
rain_content/output/*
rain_content/attachments/*

edu_content/raw_lessons/*
edu_content/output/*
edu_content/attachments/*

output/*
input/*
youtube_downloads/*
yt_utils/yt_dls

queries.md

reaction_content/cookies.txt

*/*/__pycache__/*
*/auto_input/*
*/bat/*
