math_content/raw_lessons/*
math_content/output/*
math_content/attachments/*

grok_script/movies/*

rain_content/recorded/*
rain_content/output/*
rain_content/attachments/*

science_content/raw_lessons/*
science_content/output/*
science_content/attachments/*

output/*
input/*

